.welcome-container {
  max-width: 80%;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mb-20 {
  margin-bottom: 20px;
}
.welcome-content {
  font-family: serif;
  font-size: 18px;
  line-height: 1.8em;
  text-align: center;
}

