/* .layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.content {
  margin-top: 200px;
  overflow-y: auto;
  flex: 1;
}

.footer {
  flex: 0 0 auto;
} */
