.left-side-rigth-text-container {
  width: 100%;
  max-width: 1256px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.left-side-rigth-text-wrapper {
  display: flex;
  gap: 60px;
  width: 100%;
}

.homepage-left-side-image {
  width: 40%;
}

.title {
  padding: 30px 0;
  color: #1c0950;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.8em;
  text-align: center;
  transition-duration: 0.9s;
  transition-delay: 0.152381s;
  font-family: 'Signature of the Ancient', sans-serif;
}

.right-side-content-para {
  margin-top: 1.5rem;
  color: #1c0950;
  font-size: 20px;
  font-weight: 400;
  line-height: 41px;
  transition-duration: 0.9s;
  transition-delay: 0.152381s;
  /* font-family: 'Signature of the Ancient', sans-serif; */
}

.title-suffix {
  font-size: large;
}

.text-container-wrapper {
  width: 50%;
}

.blockquote-footer {
  margin-left: 38%;
  color: #1c0950;
}

/* CSS */
.images-wrapper {
  max-height: 380px;
  overflow: hidden;
  /* This will hide any overflow content */
}

.images-wrapper img {
  object-fit: cover;
  /* Ensures images fit within the max-height without distortion */
  height: 100%;
  /* Makes the image take the full height of the container */
  width: auto;
  /* Keeps the aspect ratio of the image */
}

@media (min-width:575.98px) and (max-width:991.98px) {
  .text-container-wrapper {
    width: 100%;
  }
}

@media screen and (max-width:579.98px) {
  .text-container-wrapper {
    width: 100%;
  }

  .left-side-rigth-text-container {
    padding: 1rem;
  }

  .left-side-rigth-text-wrapper {
    padding: 0;
  }
}