.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
  width: 100%;
  transition: padding 0.3s ease;
  z-index: 1000;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.header-container a {
  text-decoration: none;
}

.header-title {
  font-size: 1.5rem;
  color: #333;
}

.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.header-nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 5rem;
  padding: 0;
  margin: 0;
}

.header-nav li {
  display: block;
  width: auto;
}

.header-nav a {
  text-decoration: none;
  color: #333;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header-nav a:hover {
  color: #007bff;
}

.menu-button {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
}

.close-button {
  display: none;
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
  transition: color 0.5s ease;
}

.close-button:hover {
  color: #007bff;
  /* Change color on hover */
}

.color-007bff {
  color: #017fa1;
}

.header-img {
  border-radius: 50%;
  margin: -20px;
}

@media screen and (max-width: 768px) {
  .header-nav ul {
    gap: 2rem;
  }
}

@media screen and (max-width: 426px) {
  .header-container {
    padding: 1rem;
  }

  .header-nav {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #f8f8f8;
    transition: left 0.5s ease-in-out;
    z-index: 1000;
  }

  .header-nav.open {
    left: 0;
  }

  .header-nav ul {
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
  }

  .header-nav a {
    font-size: 1.2rem;
  }

  .menu-button {
    display: block;
  }

  .close-button {
    display: block;
  }

  .nav-icon {
    display: inline-block;
  }
}