.footer {
  background: var(--bs-dark);
}

.footer .footer-item {
  display: flex;
  flex-direction: column;
}

.footer .footer-item a {
  line-height: 35px;
  color: var(--bs-body);
  transition: 0.5s;
}

.footer .footer-item p {
  line-height: 35px;
}

.footer .footer-item a:hover {
  color: var(--bs-primary);
}

.footer .footer-item .footer-btn a,
.footer .footer-item .footer-btn a i {
  transition: 0.5s;
}

.footer .footer-item .footer-btn a:hover {
  background: var(--bs-white);
}

.footer .footer-item .footer-btn a:hover i {
  color: var(--bs-primary);
}

.footer .footer-item .opening-date {
  border-bottom: 1px solid rgba(255, 255, 255, .08);
}

.footer .footer-item .opening-date .opening-clock {
  display: flex;
  align-items: center;
  line-height: 35px;
}
