.contact-container {
  display: flex;
  justify-content: space-around;
  padding: 50px;
  margin: 0 auto;
  background-color: #fff;
}

.contact-info {
  max-width: 45%;
}

.contact-info h2 {
  font-size: 2.5rem;
  color: #000;
}

.contact-info p {
  font-size: 1rem;
  margin: 15px 0;
  color: #333;
}

.contact-info h3 {
  font-size: 1.2rem;
  margin-top: 30px;
  color: #000;
}

.social-icons {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}

.social-icons a {
  color: #1e73e9;
  font-size: 2rem;
  text-decoration: none;
  transition: all 0.3s ease;
}

.social-icons a:hover {
  color: #d81b60;
  transform: scale(1.2);
}

.contact-form {
  max-width: 45%;
}

.contact-form h2 {
  font-size: 1.8rem;
  color: #000;
}

.contact-form p {
  font-size: 1rem;
  margin-bottom: 30px;
  color: #333;
}

.form-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 48%;
  padding: 10px;
  border: 2px solid #1e73e9;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
}

.form-group textarea {
  width: 100%;
  resize: none;
}

.input-error {
  border-color: red;
}

.error {
  color: red;
  font-size: 0.8rem;
  margin-top: 5px;
}

.submit-btn {
  background-color: #1e73e9;
  color: #fff;
  border: none;
  padding: 15px 30px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #d81b60;
}

@media screen and (max-width: 426px) {
    .contact-container, .form-group{
        display: block;
    }
    .contact-info, .contact-form{
        max-width: 100%;
    }
    .form-group {
        margin-bottom: unset;
    }
    .form-group input {
        width: 100%;
        margin-bottom: 10px;
    }
}