.about-container {
  display: flex;
  padding: 4rem;
  background-color: #fff;
  flex-direction: column;
  gap: 50px;
}

.about-image {
  flex: 0 0 48%;
  /* width: 50%; */
}

.gap-50 {
  gap: 50px;
}

.about-image img {
  height: auto;
  overflow: hidden;
  position: relative;
  transition-timing-function: ease;
  transition-duration: 0.9s;
  transition-delay: 0.221053s;
  display: block;
  object-fit: cover;
  padding: 1.5rem;
}

.about-text {
  flex: 0 0 48%;
  /* width: 50%; */
}

.about-text-content {
  line-height: 1.7rem;
  line-break: auto;
}

.about-text h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.about-text p {
  font-size: 1.1rem;
  line-height: 41px;
  margin-bottom: 15px;
}

.about-title {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: 700;
  text-align: center;
}

.about-top-img {
  margin-top: -54px;
}

@media screen and (max-width: 426px) {
  .about-image {
    margin-bottom: 20px;
    margin-right: unset;
  }

  .about-container {
    flex-direction: column;
    padding: 2rem;
  }

  .about-title {
    font-size: 20px;
    font-weight: 600;
  }
}